<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAefGjmTU7D05pBr45BWBTIz6CDO5BIPhY</string>
	<key>GCM_SENDER_ID</key>
	<string>572750917894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deatsilence.informationdictionary.infdic.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>myinfdic</string>
	<key>STORAGE_BUCKET</key>
	<string>myinfdic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572750917894:ios:e309f88b98411f2da12e87</string>
</dict>
</plist>